<html>
    <head>
        <title>CATS</title>
        <link rel='stylesheet' type='text/css' href="/static/style.css">
    </head>
    <body>
        <img src="/static/cat.jpg" alt="cat">
        <p>The domestic cat (Felis silvestris catus or Felis catus) is a small, typically furry, carnivorous mammal. They are often called house cats when kept as indoor pets or simply cats when there is no need to distinguish them from other felids and felines. They are often valued by humans for companionship and for their ability to hunt vermin. There are more than seventy cat breeds recognized by various cat registries.
        </p>
    </body>
</html>