<html>
    <head>
        <title>CATS</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
    </head>
<body>
	<h1>Kitty Litter</h1>
		<a href="/british_shorthair"> <img src="images/british_shorthair.jpg" alt="british_shorthair"></a>
		<a href="/persian"> <img src="images/persian.jpg" alt="persian"></a>
		<a href="/siamese"> <img src="images/siamese.jpeg" alt="siamese"></a>
</body>
</html>