<html>
    <head><title>New</title></head>
    <body>
        <h1>New Page!</h1>
        <form action="/" method='post'>
            Name: <input type="text" name="name">
            Weight: <input type="text" name="weight">
            Color: <input type="text" name="color">
            <input type="submit" value="Add new Shiba!">
        </form>
    </body>
</html>