<html>
    <head><title>Show</title></head>
    <body>
    <h1>Show!</h1>
    <h3>Name: <%= shiba.name %></h3>
    <h3>Weight: <%= shiba.weight %></h3>
    <h4>Color: <%= shiba.color %></h4>
    <a href="/">Home</a>
    <a href="/<%= shiba._id %>/edit">Edit</a>
    </body>
</html>